#wpcontent {
    padding-left: 0;
}

#wpbody-content {
    padding-bottom: 0;
}

input[type=checkbox] {
    --wp-admin--admin-bar--height: 32px;
    text-size-adjust: 100%;
    color-scheme: light;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    border: 0.0625rem solid rgb(206, 212, 218);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    padding: 0px;
    display: block;
    margin: 0px;
    transition: border-color 100ms ease 0s, background-color 100ms ease 0s;
    cursor: default;
}